*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
address {
  font-style: normal;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.to-left {
  float: left;
}
.to-right {
  float: right;
}
.pt {
  padding-top: 20px;
}
.p30 {
  padding-left: 30px;
  padding-right: 30px;
}
.container {
  position: relative;
  width: 990px;
  min-width: 990px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
}
h1 {
  font-size: 28px;
  color: #8f219f;
}
body {
  min-width: 990px;
  font-family: 'Arial' sans-serif;
  color: #3c3c3c;
  background: #ffffff;
  overflow-y: scroll;
}
header.gl {
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -495px;
  font-family: 'Roboto';
  z-index: 1000;
}
header.gl .container {
  height: 80px;
}
header.gl .logo-top {
  width: 250px;
  height: 80px;
  background: url('../img/logo-color.png') no-repeat center center #ffffff;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
header.gl .highlight {
  width: 110px;
  height: 80px;
  margin: 0 4px;
  padding: 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  background: #c34f45;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
header.gl .highlight:hover {
  background: #c75a51;
}
header.gl .header-section {
  width: 620px;
  height: 80px;
  padding: 0 30px 0 20px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
header.gl .header-menu li {
  margin: 30px 10px 0;
  display: inline-block;
  vertical-align: top;
}
header.gl .header-menu li a {
  display: block;
  padding: 4px 0;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #3c3c3c;
}
header.gl .header-menu li a:hover,
header.gl .header-menu li a.active {
  border-bottom: 2px #cacaca solid;
}
header.gl .header-contacts {
  margin-top: 20px;
  text-align: right;
}
header.gl .header-phone {
  margin: 0;
  font-size: 17px;
  line-height: 17px;
  font-weight: 500;
  color: #6b6b6b;
}
header.gl .header-phone span {
  font-weight: lighter;
  color: #c34f45;
}
header.gl .header-callback {
  font-family: 'Arial', sans-serif;
  font-size: 11px;
  color: #a1a1a1;
}
header.gl .header-callback:hover {
  text-decoration: none;
}
footer.gl {
  padding: 35px 0 60px;
  background: #fff;
  color: #b3b3b3;
}
.copyrights {
  margin-top: 25px;
  margin-left: 10px;
  font-size: 11px;
}
.footer-right-block {
  text-align: right;
  padding-top: 25px;
}
.footer-menu li {
  margin-right: 10px;
  display: inline-block;
  line-height: 11px;
  vertical-align: top;
}
.footer-menu li a {
  font-size: 11px;
  color: #b3b3b3;
  text-decoration: underline;
}
.footer-menu li a:hover,
.footer-menu li a.active {
  text-decoration: none;
}
.footer-menu li:after {
  content: '|';
  margin-left: 10px;
  font-size: 11px;
}
.footer-menu li:last-child {
  margin-right: 0;
}
.footer-menu li:last-child:after {
  content: none;
}
.footer-contacts {
  margin: 15px 0 0;
}
.footer-contacts .footer-phone {
  margin: 0 0 5px;
  font-family: 'Roboto';
  font-size: 17px;
}
.footer-contacts .footer-phone span {
  font-weight: lighter;
}
.footer-contacts .footer-links {
  line-height: 11px;
}
.footer-contacts .footer-links a {
  font-size: 11px;
  color: #b3b3b3;
  text-decoration: underline;
}
.footer-contacts .footer-links a:hover {
  text-decoration: none;
}
.footer-contacts .footer-links span {
  display: inline-block;
  margin: 0 10px;
  font-size: 11px;
  font-style: 11px;
  vertical-align: middle;
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
  font-size: 11px;
  color: #b3b3b3;
  line-height: 11px;
  vertical-align: top;
}
.breadcrumbs li a {
  font-size: 11px;
  color: #b3b3b3;
  text-decoration: underline;
}
.breadcrumbs li a:hover,
.breadcrumbs li a.active {
  text-decoration: none;
}
.breadcrumbs li:after {
  content: '/';
  margin-left: 10px;
  font-size: 11px;
  color: #b3b3b3;
}
.breadcrumbs li:last-child {
  margin-right: 0;
}
.breadcrumbs li:last-child:after {
  content: none;
}
.block-title {
  margin: 0 0 20px;
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
}
label {
  font-size: 11px;
  color: #8d8d8d;
}
.required:after {
  content: '•';
  position: relative;
  top: 1px;
  margin-left: 5px;
  font-size: 15px;
  color: #c34f45;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 5px;
  font-size: 11px;
  border: 1px solid #b3b3b3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  -webkit-box-shadow: inset 0 0 4px rgba(100, 100, 100, 0.2);
  box-shadow: inset 0 0 4px rgba(100, 100, 100, 0.2);
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
input[type=text].error,
input[type=email].error,
input[type=password].error,
textarea.error {
  color: #c34f45;
  border-color: #c34f45;
  -webkit-box-shadow: inset 0 0 4px rgba(195, 79, 69, 0.3);
  box-shadow: inset 0 0 4px rgba(195, 79, 69, 0.3);
}
input[type=text],
input[type=email],
input[type=password] {
  height: 30px;
}
textarea {
  height: 100px;
  resize: none;
}
input[type=submit] {
  width: 107px;
  height: 33px;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: lighter;
  text-transform: uppercase;
  color: #b3b3b3;
  border: none;
  background: url('../img/submit-btn.png') no-repeat center center;
}
input[type=submit]:hover {
  opacity: 0.7;
}
.small-button {
  width: 47%;
}
.notice {
  color: #bdbdbd;
  font-size: 11px;
  line-height: 11px;
}
.input-file-wrapper {
  margin: 25px 0;
}
.input-file-wrapper .NFI-button {
  display: inline-block !important;
  width: 20px;
  height: 20px;
  background: url('../img/attach.png') no-repeat center center;
  text-indent: -9999px;
}
.input-file-wrapper .NFI-filename {
  width: 80px;
  height: 20px;
  margin: 0 0 0 5px !important;
  padding: 0 !important;
  border: none;
  color: #bdbdbd;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px dashed #b3b3b3;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.contacts-order-form,
.contacts-info {
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.logo-top,
.highlight,
.header-section {
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
h1 {
  margin: 15px 0;
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #424241;
}
/* main page */
.slider-main-wrapper {
  position: relative;
  height: 680px;
  overflow: hidden;
}
.slider-main {
  height: 680px;
}
.slider-main .slick-slide {
  position: relative;
  text-align: center;
}
.slider-main .slick-slide img {
  display: initial;
  width: 100%;
  height: auto;
  min-height: 680px;
}
.slider-main .slide-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 990px;
  height: 100%;
  margin-left: -495px;
}
.slider-main .slide-container .slide-container-inner {
  position: relative;
}
.slider-main .slide-title-container {
  position: absolute;
  width: 355px;
  height: 355px;
  top: 200px;
  left: 50%;
  margin-left: -177.5px;
  background: url('../img/slider-title-bg.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.slider-main .slide-title-container a {
  display: block;
  padding: 145px 0 0;
  height: 100%;
  color: #e4d0b0;
  text-decoration: none;
}
.slider-main .slide-title {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}
.slider-main .slide-title-desc {
  margin: 10px 0;
  font-size: 12px;
}
.slider-main .slide-info-container {
  position: absolute;
  width: 175px;
  height: 175px;
  top: 175px;
  left: 125px;
  padding: 45px 15px;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.slider-main .slide-info-container p {
  margin: 0;
  font-size: 11px;
  line-height: 13px;
  color: #cfcfcf;
}
.slider-main .prev-link,
.slider-main .next-link {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 50%;
  margin-top: -45px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  opacity: 0.6;
}
.slider-main .prev-link:hover,
.slider-main .next-link:hover {
  opacity: 1;
}
.slider-main .prev-link {
  left: 30px;
  background: url('../img/arrow-left-white.png') no-repeat center center #282828;
}
.slider-main .next-link {
  right: 30px;
  background: url('../img/arrow-right-white.png') no-repeat center center #282828;
}
.portfolio-main {
  padding: 20px 20px 40px;
  background: #fff;
}
.portfolio-main .slick-slide {
  text-align: center;
}
.portfolio-main-slide {
  text-decoration: none;
}
.portfolio-main-slide img {
  display: initial;
  position: relative;
  vertical-align: middle;
}
.portfolio-main-slide .img-wrapper {
  display: block;
  height: 135px;
  overflow: hidden;
}
.portfolio-main-desc {
  width: 60%;
  margin: 0 auto;
  font-size: 12px;
  color: #595959;
}
.creative {
  position: relative;
  height: 178px;
  background: url('../img/creative-bg.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  overflow: hidden;
}
.creative .container {
  padding: 50px 30px;
}
.creative .creative-angle {
  position: absolute;
  top: 0;
  left: 0;
  width: 73px;
  height: 70px;
  background: url('../img/creative-angle.png') no-repeat center center;
}
.creative .creative-brain {
  position: absolute;
  top: -55px;
  right: -25px;
  width: 337px;
  height: 413px;
  background: url('../img/creative-brain.png') no-repeat center center;
}
.creative .creative-text {
  width: 590px;
  margin: 0;
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 20px;
  line-height: 30px;
  color: #9a9a99;
}
.creative .creative-text strong {
  text-transform: uppercase;
}
.creative .creative-cloud {
  position: absolute;
  top: 20px;
  right: 35px;
  width: 281px;
  height: 129px;
  padding: 35px 15px 15px 150px;
  background: url('../img/creative-cloud.png') no-repeat center center;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #363636;
}
.creative .creative-cloud strong {
  text-transform: uppercase;
}
/* contacts page */
.contacts-map-wrapper {
  position: relative;
}
.contacts-map-wrapper .container {
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -495px;
  width: 530px;
  min-width: 530px;
}
.contacts-map-shadow,
.bottom-line-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  -webkit-box-shadow: inset 0px -10px 15px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0px -10px 15px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px -10px 15px rgba(0, 0, 0, 0.05);
  z-index: 100;
}
.contacts-map {
  width: 100%;
  height: 860px;
  overflow: hidden;
}
.contacts-order-form {
  width: 250px;
  padding: 20px 30px 30px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.contacts-order-form .breadcrumbs li,
.contacts-order-form .breadcrumbs a {
  color: #707070;
}
.contacts-divider,
.line-divider {
  width: 100%;
  margin: 25px 0;
  height: 1px;
  background: url('../img/border-bg.png') repeat-x center center;
}
.contacts-info {
  position: absolute;
  top: 61px;
  left: 270px;
  width: 260px;
  height: 260px;
  padding: 28px 25px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.contacts-info .info-block {
  margin: 0 0 30px;
  font-family: 'Roboto';
}
.contacts-info .info-block p {
  margin: 5px 0;
}
.contacts-info .info-block a {
  color: #3c3c3c;
}
.contacts-info .info-block a:hover {
  text-decoration: none;
}
.contacts-info .address-block {
  margin-top: -5px;
}
.contacts-info .address-block p {
  margin: 0;
  font-size: 12px;
  color: #aeaeae;
}
/* support page */
.support {
  position: relative;
  padding: 170px 0 0;
}
.support .support-left-line,
.support .support-right-line {
  position: absolute;
  top: 0;
  width: 91px;
  height: 100%;
}
.support .support-left-line {
  left: 0;
  background: url('../img/support-left-line.png') no-repeat center top;
}
.support .support-right-line {
  right: 0;
  background: url('../img/support-right-line.png') no-repeat center top;
}
.support .container {
  padding: 0 30px;
}
.top-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 942px;
  background: url('../img/support-top-bg.png') no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.support-desc {
  min-height: 1170px;
  margin: 0 -30px;
  background: url('../img/support-divider.png') no-repeat center center;
}
.support-row {
  padding-top: 100px;
}
.support-block {
  width: 390px;
  font-family: 'Roboto';
}
.support-block .support-img {
  text-align: center;
  height: 90px;
  vertical-align: top;
}
.support-block .support-block-title {
  display: block;
  margin: 0 0 30px;
  font-weight: normal;
  font-size: 24px;
  color: #424241;
}
.support-block .support-block-content {
  margin: -10px 0;
  padding-left: 25px;
  background: url('../img/support-line.png') no-repeat center left;
  -webkit-background-size: 4px 100%;
  background-size: 4px 100%;
}
.support-block .support-block-content p {
  margin: 8px 0;
  font-size: 16px;
  line-height: 18px;
}
.support-block .support-block-content a {
  color: #c44f45;
  text-decoration: none;
}
.support-block .support-block-content a:hover {
  text-decoration: underline;
}
.support-form {
  position: relative;
  height: 220px;
  background: url('../img/support-form-bg.png') no-repeat center center;
}
.support-form .container {
  height: 220px;
  padding: 30px;
}
.support-form .block-title {
  font-size: 36px;
  color: #fff;
}
.support-form label {
  color: #fff;
}
.support-form input[type=text],
.support-form input[type=email],
.support-form input[type=password],
.support-form textarea {
  margin: 5px 0;
}
.support-form textarea {
  height: 88px;
}
.support-form .input-file-wrapper {
  margin: 25px 0 5px;
}
.support-form .NFI-button {
  background: url('../img/attach-white.png') no-repeat center center;
}
.support-form .NFI-filename {
  color: #fff;
  border-color: #fff;
}
.support-form .notice {
  margin: 0;
  font-size: 11px;
  line-height: 14px;
  font-style: italic;
  color: #e7d9d8;
}
.support-form input[type=submit] {
  width: 120px;
  height: 70px;
  margin: 25px 0 0;
  padding: 5px 20px;
  font-size: 18px;
  text-align: left;
  color: #a9443b;
  background: rgba(255, 255, 255, 0.9);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.support-form input[type=submit]:hover {
  opacity: 1;
  background: #ffffff;
}
.support-form-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 49px;
  background: #a8443b;
}
.support-form-fblock {
  width: 350px;
}
.support-form-sblock {
  margin-left: 15px;
  width: 270px;
}
.support-form-tblock {
  width: 135px;
  margin-left: 15px;
}
/* portfolio page */
.portfolio-gl {
  position: relative;
  padding: 170px 0 0;
  background: #fff;
}
.portfolio-gl .container {
  padding: 0 30px;
}
.portfolio-gl .line-divider {
  margin: 0;
}
.portfolio-inner {
  margin: 0 -15px;
  padding: 80px 0 0;
}
.portfolio-single {
  float: left;
  width: 210px;
  margin-right: 40px;
  margin-bottom: 80px;
}
.portfolio-single .portfolio-single-img {
  height: 200px;
  overflow: hidden;
}
.portfolio-single .portfolio-single-title {
  font-size: 14px;
  color: #555;
  text-decoration: none;
}
.portfolio-single:nth-of-type(4n) {
  margin-right: 0;
}
.portfolio-gl-form {
  margin: 40px 0 0;
  padding: 0 0 80px;
}
.portfolio-gl-form textarea {
  height: 98px;
}
.portfolio-gl-form input[type=submit] {
  margin-top: 13px;
}
.portfolio-gl-fblock {
  width: 215px;
}
.portfolio-gl-sblock {
  width: 215px;
  margin-left: 40px;
}
.portfolio-gl-lblock {
  margin-left: 40px;
}
/* dev page */
.development {
  position: relative;
  padding: 170px 0 0;
}
.development .container {
  padding: 0 30px;
}
.development .support-form {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.development .support-form .container {
  padding: 30px;
}
.dev-block h3 {
  margin: 30px 0 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: lighter;
}
.dev-block h3 + p {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #565454;
}
.dev-steps {
  margin: 30px 0 50px;
  text-align: center;
}
.dev-steps .dev-step-single {
  display: inline-block;
  width: 80px;
  margin: 0 20px;
  vertical-align: top;
}
.dev-steps .dev-step-img {
  height: 70px;
}
.dev-steps .dev-step-title {
  display: block;
  font-size: 10px;
  line-height: 12px;
  font-weight: normal;
  text-transform: uppercase;
}
.dev-facts {
  margin: 0 0 35px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: #a7a7a7;
  text-align: center;
}
.dev-block-title {
  margin: 0 0 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 36px;
  color: #424241;
}
.dev-idea {
  height: 360px;
  padding: 45px 0;
  background: url('../img/dev-idea-bg.png') no-repeat center center;
}
.dev-idea .dev-block-title {
  width: 600px;
}
.dev-idea-desc p {
  width: 750px;
  margin: 30px 0;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 26px;
}
.dev-projection {
  padding: 40px 0;
  background: #fff;
}
.projection-preview {
  display: block;
  width: 98px;
  margin: 0 auto 40px;
}
.dev-projection-desc {
  margin: 30px 0 60px;
}
.dev-projection-desc .dev-projection-left,
.dev-projection-desc .dev-projection-right {
  width: 435px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.dev-projection-desc .dev-projection-left {
  text-align: right;
}
.dev-projection-step {
  display: inline-block;
  width: 240px;
  margin-right: 15px;
  vertical-align: top;
}
.step-projection-title {
  display: block;
  margin: 0 0 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
.step-projection-desc {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
.dev-projection-step:nth-of-type(2) {
  width: 290px;
}
.dev-projection-step:nth-of-type(2) .step-projection-title {
  text-align: center;
}
.dev-projection-step:last-child {
  margin-right: 0;
  text-align: right;
}
.arrow-step-1,
.arrow-step-2 {
  margin-top: 30px;
}
.dev-projection-facts {
  margin: 30px 0 0;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  color: #a7a7a7;
  text-align: center;
}
.dev-design {
  height: 690px;
  padding: 110px 0;
  background: url('../img/dev-design-bg.png') no-repeat top center;
}
.dev-design .container {
  padding: 0;
}
.dev-design-title {
  width: 360px;
  height: 360px;
  padding: 90px 85px 140px;
  text-align: center;
  background: url('../img/dev-design-title-bg.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.dev-design-title .dev-block-title {
  margin: 10px 0 0;
}
.dev-design-desc {
  width: 580px;
  height: 385px;
  padding: 60px 85px 80px 60px;
  background: url('../img/dev-design-desc-bg.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.dev-design-desc p {
  margin: 20px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.dev-backend {
  padding: 90px 0 30px;
  background: #fff;
  text-align: center;
}
.backend-preview {
  display: block;
  margin: 45px auto;
}
.dev-backend-desc {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.dev-tech {
  width: 422px;
  height: 74px;
  margin: 40px auto 0;
  background: url('../img/dev-tech.png') no-repeat center center;
}
.dev-info {
  height: 445px;
  padding: 90px 0;
  background: url('../img/dev-info-bg.png') no-repeat center center;
}
.dev-info-small-desc {
  width: 215px;
  margin-right: 100px;
  text-align: center;
}
.dev-info-about {
  margin: 35px 0 0;
}
.dev-info-about p {
  margin: 15px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #111;
}
.dev-info-desc {
  width: 605px;
  margin-top: -25px;
}
.dev-info-desc p {
  margin: 25px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.dev-test {
  padding: 60px 0;
  background: #fff;
  text-align: center;
}
.dev-test .dev-block-title {
  margin: 30px 0;
}
.test-preview {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.dev-test-desc {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #6c6c6c;
}
.dev-test-explain {
  margin: 30px 0 0;
}
.dev-test-explain-left,
.dev-test-explain-right {
  width: 430px;
}
.dev-test-explain-left p,
.dev-test-explain-right p {
  margin: 20px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.dev-test-explain-left {
  text-align: right;
}
.dev-test-explain-right {
  text-align: left;
}
.dev-finish {
  height: 1025px;
  padding: 420px 0 0;
  background: url('../img/dev-finish-bg.png') no-repeat center center;
  text-align: center;
  color: #fff !important;
}
.dev-finish .dev-block-title {
  margin: 20px 0 40px;
  color: #fff;
}
.dev-finish .dev-finish-desc {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 18px;
  color: #fff;
}
/* portfolio work page */
.portfolio-work {
  position: relative;
  padding: 170px 0 0;
}
.portfolio-work .container {
  padding: 0 30px;
}
.portfolio-work h1 {
  width: 660px;
  font-size: 32px;
  line-height: 36px;
  text-transform: none;
}
.portfolio-work h1 span {
  color: #c34f45;
}
.back-to-portfolio {
  position: absolute;
  display: inline-block;
  top: 45px;
  right: 30px;
  padding-left: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  color: #c34f45;
  text-transform: uppercase;
  text-decoration: none;
  background: url('../img/arrow-left-red.png') no-repeat center left;
}
.portfolio-prev,
.portfolio-next {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 210px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  opacity: 0.6;
  z-index: 100;
}
.portfolio-prev:hover,
.portfolio-next:hover {
  opacity: 1;
}
.portfolio-prev:hover .tooltip,
.portfolio-next:hover .tooltip {
  display: block;
}
.portfolio-prev {
  left: 40px;
  background: url('../img/arrow-left-white.png') no-repeat center center #282828;
}
.portfolio-next {
  right: 40px;
  background: url('../img/arrow-right-white.png') no-repeat center center #282828;
}
.tooltip {
  display: none;
  position: absolute;
  top: 40px;
  width: 182px;
  min-height: 120px;
  padding: 35px 30px 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
.tooltip span {
  color: #828282;
}
.tooltip p {
  margin: 10px 0 0;
  color: #2c2e33;
}
.tooltip-prev {
  left: -30px;
  background: url('../img/tooltip-left.png') no-repeat center top;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.tooltip-next {
  right: -30px;
  background: url('../img/tooltip-right.png') no-repeat center top;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.portfolio-work-review {
  margin: 30px 0;
}
.portfolio-work-review p,
.portfolio-work-review img {
  display: inline-block;
  vertical-align: top;
}
.portfolio-work-review p {
  width: 580px;
  margin: 5px 0;
  font-size: 11px;
  color: #6a6a6a;
}
.arrow-review {
  margin: -15px 25px 0;
}
.portfolio-work-preview {
  text-align: center;
  background: url('/img/portfolio-roomer-bg.png') no-repeat center top;
}
.portfolio-work-cite {
  margin: 0;
  font-size: 14px;
  font-style: italic;
  color: #aba9a9;
}
.portfolio-work-block {
  position: relative;
  font-size: 12px;
  color: #6a6a6a;
}
.portfolio-work-block p {
  margin: 0;
}
.portfolio-work-block strong {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: lighter;
  color: #a7433a;
}
.portfolio-work-block img {
  max-width: 100%;
}
.portfolio-block-desc strong {
  display: inline;
  text-align: left;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #6a6a6a;
}
.portfolio-block-desc p {
  line-height: 16px;
}
.portfolio-work-start {
  margin: 30px 0 0;
}
.portfolio-work-targets {
  margin: 40px 0 0;
}
.portfolio-work-targets .target-block {
  width: 440px;
}
.portfolio-work-targets .target-block:nth-of-type(2) {
  margin-left: 50px;
}
.portfolio-work-targets .target-block-title {
  margin: 0 0 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: lighter;
  line-height: 1;
  color: #111;
}
.portfolio-work-targets ul {
  margin: 0;
  padding: 0 0 0 20px;
  list-style: none;
}
.portfolio-work-targets ul li {
  margin-bottom: 15px;
}
.portfolio-work-targets ul li:before {
  content: '–';
  margin: 0 10px 0 -17px;
  color: #111;
  font-size: 12px;
}
.portfolio-work-projection {
  margin: 40px 0 0;
}
.portfolio-work-projection img {
  margin: 20px 0 0;
}
.portfolio-work-design {
  margin: 40px 0 0;
}
.portfolio-work-design > strong {
  display: block;
  text-align: center;
}
.portfolio-work-design .portfolio-block-desc {
  text-align: right;
  margin-top: -75px;
}
.portfolio-work-design .portfolio-block-desc img,
.portfolio-work-design .portfolio-block-desc p {
  display: inline-block;
  vertical-align: bottom;
}
.portfolio-work-design .portfolio-block-desc p {
  width: 300px;
  text-align: left;
}
.portfolio-work-design .portfolio-block-desc img {
  margin: 0 5px;
}
.portfolio-work-filters {
  margin: 80px 0 0;
}
.portfolio-work-filters .portfolio-block-desc,
.portfolio-work-filters > img {
  display: inline-block;
  vertical-align: top;
}
.portfolio-work-filters .portfolio-block-desc {
  width: 190px;
  margin: 60px 0 0;
  text-align: right;
}
.portfolio-work-filters .portfolio-block-desc img {
  margin: 10px 0;
}
.portfolio-work-filters .portfolio-block-desc p {
  text-align: left;
}
.portfolio-work-catalog {
  margin: 60px 0 0;
}
.portfolio-work-catalog .portfolio-block-desc,
.portfolio-work-catalog > img {
  display: inline-block;
  vertical-align: top;
}
.portfolio-work-catalog .portfolio-block-desc {
  width: 215px;
  margin: 60px 0 0;
}
.portfolio-work-catalog .portfolio-block-desc img {
  margin: 10px 0;
}
.portfolio-work-footer {
  margin: 60px 0 0;
  padding: 0 0 80px;
}
.portfolio-work-footer .block-title {
  font-size: 24px;
}
.portfolio-work-footer .portfolio-work-data {
  width: 340px;
}
.portfolio-work-footer dt,
.portfolio-work-footer dd {
  float: left;
  margin: 0 0 10px;
  font-size: 12px;
}
.portfolio-work-footer dt {
  width: 135px;
}
.portfolio-work-footer dd {
  width: 180px;
  margin-left: 20px;
  color: #969696;
}
.portfolio-work-footer dd:after {
  content: '';
  height: 0;
  clear: both;
}
.portfolio-work-footer .portfolio-work-order {
  width: 530px;
}
.portfolio-work-footer .portfolio-work-order .block-title {
  width: 265px;
  line-height: 28px;
}
.portfolio-work-footer .portfolio-work-order .block-title img {
  float: right;
  margin: 10px 0;
}
.portfolio-work-footer .portfolio-work-form {
  width: 220px;
}
.portfolio-work-footer .portfolio-work-form input[type=submit] {
  margin: 20px 0 0;
  display: block;
}
/* popup */
#callback {
  position: relative;
  width: 520px;
  margin: 0 auto;
  padding: 30px 25px 40px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#callback textarea {
  height: 98px;
}
#callback input[type=submit] {
  float: right;
  margin: 20px 0 0;
}
.popup-title {
  margin: 0 0 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 19px;
  color: #939393;
  text-transform: uppercase;
}
.popup-block-left,
.popup-block-right {
  width: 215px;
}
.popup-block-left {
  margin-right: 20px;
}
.popup-text p {
  margin: 15px 0;
  font-size: 12px;
  color: #8d8d8d;
}
